/*
	COLOURS
	dark background									#454038
	gold highlighting								#ffa522
*/

.light {
	background-color:rgba(0,0,0,0);
	color: #454038;
}

.dark {
	background-color: #454038;
	color: #ffffff;
}

.highlight {
	background-color: #ffffff;
	color: #ffa522;
}

input, textarea, button {
	background-color: #ffffff;
	color: #454038;
}

html *{
	font-size: 30px;
	font-style: oblique;
}

.small {
	font-size: 16px;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
	text-align: center;
	background-image: url("../img/notes.png");
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

form {
	text-align: center;
	vertical-align: middle;
	horizontal-align: middle;
}

.invisible {
	display: none;
}