.full-length {
	height: 100%;
}

div.topbar {
	width: 100%;
	height: 60px;
}

.scrollable {
	height: 300px;
	display: block;
	overflow: auto;
}

.right {
	float: right;
	cursor: pointer;
	display: inline;
	padding-right: 3%;
	padding-top: 10px;
}
.heading {
	display: inline-block;
	padding-top: 10px;
}

.toggle {
	display: none;
	font-size: 10px !important;
	height: 330px;
	overflow: auto;
}

li.smallLi {
	font-size: 10px !important;
}

form {
	min-width: 100%;
	height: 40px;
}

img {
	float: left;
	width: 60px;
	padding-left: 1%;
	cursor: pointer;
}

img.large {
	width: 100px;
	float: center;
}

iframe {
	border: none;
	width: 100%;
	height: 90%;
	overflow: hidden;
}

