html *{
	font-size: 22px;
}

div {
	width: 400px;
	text-align: center;
}

div.inactive {
	display:block;
	float: left;
	width: 50%;
	text-align: center;
	cursor: pointer;
}
div.active {
	display: block;
	float: left;
	width: 50%;
	cursor: pointer;
}

div.visible {
	display: table;
	width: 100%;
}
div.notification {
	color: #ff0000;
}

form {
	height: 400px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	horizontal-align: middle;
}