html * {
	font-size: 1em;
}

html, body{
	height: 100%;
	width: 100%;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td{
	border: 1px solid #454038;
	display: none;
}

th {
	font-size:1.2em;
	padding-top: 3px;
	padding-bottom: 3px;
}

td.options {
	position: relative;
}

td.options:hover {
	cursor: pointer;
	cursor: hand;
}
li.option:hover {
	cursor: pointer;
	cursor: hand;
	color: #ff0000;
}

div {
	height: 600px;
	width: 100%;
	display: block;
	overflow-y: auto;
	overflow-x: hidden;
}

.toggle_off {
	display: none;
}

.toggle_on {
	display: block;
	height: 75px;
	position:absolute;
	z-index: 999;
	left: -1px;
	width: calc(100% + 1px);
	
	cursor: auto;
}

.datalist {
	width: 200px;
	height: 150px;
	left: calc(100% - 199px);
	overflow: hidden;
}

.libraryDiv {
	width: 100%;
	display: none;
	float: right;
	font-size: 30px;
	
}

.name {
	text-align: right;
	display: table-cell;
	border: none;
	width: 48%;
}

.data {
	text-align: left;
	display: table-cell;
	border: none;
	padding: 40px;
}
