<!DOCTYPE html>
<html data-ng-app>
	<head>
		<meta charset="ISO-8859-1">
		<title>Home</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		
		<script src="js/jquery-2.1.3.min.js"></script>
		<script src="js/angular.js"></script>
		<script src="js/slidebars.js"></script>
		<script type="text/javascript" src="js/public_smo_scripts.js"></script>
		
		<link rel="stylesheet" type="text/css" href="css/slidebars.css">
		<link rel="stylesheet" type="text/css" href="css/global.css">
		<link rel="stylesheet" type="text/css" href="css/home.css">
		
		<script type="text/javascript">
			function getCookie(cname) {
				var name = cname + "=";
				var ca = document.cookie.split(';');
				for(var i=0; i<ca.length; i++) {
					var c = ca[i];
					while (c.charAt(0)==' '){
						c = c.substring(1);
					}
					if (c.indexOf(name) == 0){
						return c.substring(name.length,c.length);
					}
			    }
			    return "";
			}
			function createCookie(name, value){
				document.cookie = name + "=" + value + "; ";
			}

			var username = getCookie("username");
			var playlistsExpanded = false;
		</script>
		
	</head>
	<body data-ng-controller="playlistLoader" onload="changeHeading();">
		<div id="sb-site">
			<div class="light full-length">
				<div class="dark topbar">
					<img class="full-length sb-toggle-left" alt="Slider" src="img/slider.png">
					<div id="heading" class="heading"></div>
					<div id="logout" class="right" onclick="logout();">Logout</div>
				</div>
				
				<iframe id="frame" src="table.html"></iframe>
			</div>
		</div>
			
		<div class="dark sb-slidebar sb-left sb-style-push ">
			<ul class="full-length sb-menu">
				<li class="">
					<img class="large" src="img/logo.png"><br><br>
				</li>
				<li class="sb-close">
					<a onclick="reloadFrame('li');">Library</a><br><br>
				</li>
				<li class="sb-close">
					<a onclick="reloadFrame('so');">Songs</a><br><br>
				</li>
				<li>
					<a onclick="toggleDiv();">Playlists</a><br>
					<div id="toggleDiv" class="toggle">
						<ul class="sb-close">
							<li data-ng-repeat="playlist in playlists" class="smallLi" data-value="{{playlist.uniquePlaylistID}}" onclick="reloadFramePlaylist(this)">{{playlist.name}}</li>
						</ul>
					</div><br>
				</li>
				<li>
					Artist
					<input type="text" id="artistSearch" class="small">
					<button class="small sb-close" onclick="reloadFrameSearch('ar', 'artistSearch');">Search</button>
				</li>
				<li>
					Albums
					<input type="text" id="albumSearch" class="small">
					<button class="small sb-close" onclick="reloadFrameSearch('al', 'albumSearch');">Search</button>
				</li>
			</ul>
		</div>
		
		<script>
			(function($) {
				$(document).ready(function() {
					$.slidebars();
				});
			}) (jQuery);

			function reloadFramePlaylist(li){
				var val = li.getAttribute('data-value');
				var msg = "pl" + val;
				reloadFrame(msg);
				setHeading(li.innerHTML);
			}

			function reloadFrameSearch(title, textSource){
				var text = document.getElementById(textSource).value;
				if(text.trim().length<1){
					reloadFrame("so");
				}else{
					text = title + text;
					reloadFrame(text);
				}
			}

			function reloadFrame(title){
				createCookie("datasource", title);
				changeHeading();
				var frame = document.getElementById("frame");
				frame.src = "table.html";
			}

			function playlistLoader($scope, $http) {
				$http.get('/ItunesLibrary/rest/playlist/get_all/' + username).
				success(function(data) {
					$scope.playlists = data;
				});
			}

			function toggleDiv(){
				var toggleDiv = document.getElementById("toggleDiv");
				if(playlistsExpanded){
					changecss('.toggle','display','none');
					playlistsExpanded = false;
				}else{
					changecss('.toggle','display','block');
					playlistsExpanded = true;
				}
			}

			function changeHeading(){
				var heading = document.getElementById("heading");
				var name = getCookie("datasource");
				var code = name.substring(0, 2);
				if(code=="li"){
					heading.innerHTML = "Library Details";
				}else if(code=="ar"){
					heading.innerHTML = "Artists";
				}else if(code=="pl"){
					heading.innerHTML = getPlaylistName();
				}else if(code=="al"){
					heading.innerHTML = "Albums";
				}else{
					heading.innerHTML = "All Songs";
				}
			}

			function getPlaylistName(){
				var uniquePlaylistID = getCookie("datasource").substring(2);
				$.ajax({
					url: '/ItunesLibrary/rest/playlist/get_playlist/' + uniquePlaylistID,
					type: "GET",
					success: function(data) {
						return data.name;
					}
				});
			}

			function setHeading(name){
				var heading = document.getElementById("heading");
				heading.innerHTML = name;
			}

			function logout(){
				deleteCookie("username");
				deleteCookie("libraryID");
				createCookie("datasource", "so");
				window.location = "/ItunesLibrary/";
			}

			function deleteCookie(name){
				document.cookie = name + "=;" + "; expires=Thu, 01 Jan 1970 00:00:01 GMT;";
			}
			
		</script>
	</body>
</html>