<!DOCTYPE html>
<html data-ng-app>
	<head>
		<meta charset="ISO-8859-1">
		
		<script src="js/jquery-2.1.3.min.js"></script>
		<script src="js/angular.js"></script>
		<script type="text/javascript" src="js/public_smo_scripts.js"></script>
		<link rel="stylesheet" type="text/css" href="css/global.css">
		<link rel="stylesheet" type="text/css" href="css/table.css">

		<title>Query Viewer</title>
		<script type="text/javascript">
			function getCookie(cname) {
				var name = cname + "=";
				var ca = document.cookie.split(';');
				for(var i=0; i<ca.length; i++) {
					var c = ca[i];
					while (c.charAt(0)==' '){
						c = c.substring(1);
					}
					if (c.indexOf(name) == 0){
						return c.substring(name.length,c.length);
					}
			    }
			    return "";
			}
	
			function setLibraryIDCookie(){
				$.ajax({
					url: '/ItunesLibrary/rest/user/getuser/' + username,

					success: function(response){
						libraryID = response.libraryPersistentID;
						document.cookie = "libraryID=" + libraryID + "; ";
					}
				});
			}
		</script>
		<script type="text/javascript">
			var name = getCookie("datasource");
			var code = name.substring(0, 2);
			var playlistId = "";
			var searchValue = "";
			if(code=="pl"){
				uniquePlaylistID = name.substring(2);
			}else if(code=="al" || code=="ar"){
				searchValue = name.substr(2);
			}
			
			var username = getCookie("username");
			setLibraryIDCookie();
			var previousRecord = 0;
			var scrollListening = false;
			var clickedMove = false;
			var choices = [];
			var choicesLocation = 0;
		</script>
	</head>
	<body id="mybody">
		<datalist id="datalist" data-ng-controller="optionLoader">
			<option data-ng-repeat="playlist in playlists" value="{{playlist.name}}"  >
		</datalist>
		<div id="scrollDiv" onscroll="scrollListener()" data-ng-controller="dataLoader">
			<table id="dataViewer">
				<thead>
					<tr>
						<th class="trackid">Track Id</th>
						<th class="trackname">Track Name</th>
						<th class="artist">Artist</th>
						<th class="album">Album</th>
						<th class="genre">Genre</th>
						<th class="playcount">Play Count</th>
						<th class="options">Options</th>
					</tr>
				</thead>
				<tbody id="tbody">
					<tr data-ng-repeat="record in records | limitTo:limit">
						<td class="trackid">{{record.trackID}}</td>
						<td class="trackname">{{record.name}}</td>
						<td class="artist">{{record.artist}}</td>
						<td class="album">{{record.album}}</td>
						<td class="genre">{{record.genre}}</td>
						<td class="playcount">{{record.playCount}}</td>
						<td class="options" onclick="toggleOptions(this);">
							...
							<div id="option_div" class="toggle_off">
								<ul>
									<li class="option" data-value="{{record.uniqueTrackID}}" onclick="edit(this)">Edit</li>
									<li class="option" data-value="{{record.uniqueTrackID}}" onclick="save(this)">Save</li>
									<li class="option" data-value="{{record.uniqueTrackID}}" onclick="removeTrack(this)">Delete</li>
									<li class="option move" data-value="{{record.uniqueTrackID}}" onclick="move(this)">Move</li>
								</ul>
							</div>
							<div id="datalist_div" class="toggle_off">
								<p></p>
								<input type="text" list="datalist">
								<p></p>
								<input type="button" onclick="moveTrack(this);" value="Move Track"/>
								<p></p>
								<input type="button" onclick="cancelMoveTrack(this);" value="Cancel"/>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<p id="norecords"></p>
			<a href="#" id="clickLink" data-ng-click=increaseLimit()></a>
			<div class="libraryDiv">
				<br>
				<table>
					<tr>
						<td class="name">Username :</td>
						<td class="data" id="dataName">{{records[0]}}</td>
					</tr>
					<tr>
						<td class="name">Library ID :</td>
						<td class="data" id="dataID">{{records[1]}}</td>
					</tr>
					<tr>
						<td class="name">Date :</td>
						<td class="data">{{records[2]}}</td>
					</tr>
				</table><!-- <br><br><br>
				<form method="post" action="FileUploader" enctype="multipart/form-data">
					New Backup xml<br><br>
					<input type="button" class="textbox" id="textbox" readonly value="Select File" onclick="chooseFile();" /><br><br>
					<div class="invisible">
						<input type="file" id="file" name="fileinput" onchange="changeFile();" required accept=".xml" />
					</div>
					<input type="submit" value="Overwrite backup"/>
				</form> -->
			</div>
		</div>

		<script type="text/javascript">
			
			function optionLoader($scope, $http){
				$http.get('/ItunesLibrary/rest/playlist/get_all/' + username).
				success(function(data) {
					$scope.playlists = data;
				});
			}
			
			function dataLoader($scope, $http) {
				$scope.increaseLimit = function(){
					$scope.limit += 200;
					scrollListening = true;
				}

				var url = '/ItunesLibrary/rest/library/get_details/' + username;

				if(code=="li"){
					changecss('.libraryDiv','display','table-cell');
				}else{
					changecss('.trackid','display','table-cell');
					changecss('.trackname','display','table-cell');
					changecss('.artist','display','table-cell');
					changecss('.album','display','table-cell');
					changecss('.genre','display','table-cell');
					changecss('.playcount','display','table-cell');
					changecss('.options','display','table-cell');
					if(code!="pl"){
						changecss('.move','display','none');
						changecss('.toggle_on','height','60px');
					}
				}
				
				if(code == "so"){
					url = '/ItunesLibrary/rest/tracks/get_all/' + username;
				}else if(code == "pl"){
					url = '/ItunesLibrary/rest/playlist/get_tracks/' + uniquePlaylistID;
				}else if(code == "al"){
					url = '/ItunesLibrary/rest/tracks/search_album/' + username + "-:-" + searchValue;
				}else if(code == "ar"){
					url = '/ItunesLibrary/rest/tracks/search_artist/' + username + "-:-" + searchValue;
				}

				$http.get(url).
				success(function(data) {
					$scope.limit = 500;
					scrollListening = true;
					$scope.records = data;
					if(data.length<1){
						document.getElementById("norecords").innerHTML = "NO RECORDS FOUND";
					}
				});
			}

			function toggleDiv(div){
				if(clickedMove && div.id=="option_div"){
				}else{
					var toggleClass = div.className;
					var visibleOptions = document.getElementsByClassName("toggle_on");
					while(visibleOptions.length>0){
						visibleOptions[0].className = "toggle_off";
					}
					if(toggleClass == "toggle_off"){
						if(div.id=="datalist_div"){
							div.className = "dark hover toggle_on datalist ";
						}else{
							div.className = "dark hover toggle_on";
						}
					}else{
						div.className = "toggle_off";
					}
				}
			}

			function toggleOptions(td){
				var div = td.childNodes[1];
				toggleDiv(div);
			}

			function edit(li){
				var tr = li.parentNode.parentNode.parentNode.parentNode;
				tr.className = "highlight";
				var td = tr.childNodes;
				var index;
				for(index=3; index<td.length-2; index=index+2){
					td[index].setAttribute("contenteditable", "true");
				}
			}

			function save(li){
				var tr = li.parentNode.parentNode.parentNode.parentNode;
				var td = tr.childNodes;
				var index;
				var values = "";
				for(index=1; index<td.length-2; index=index+2){
					td[index].setAttribute("contenteditable", "false");
					values = values.concat(td[index].textContent, " aaasssddd");
				}
				console.log(values);
				var encoded = encodeURIComponent(getCookie("libraryID") + "-:-" + values);
				$.ajax({
					url: '/ItunesLibrary/rest/tracks/edit/' + encoded
				});
				tr.className = "";
			}
			
			function removeTrack(li){
				if(code == "so"){
					var url = '/ItunesLibrary/rest/tracks/del/' + li.getAttribute("data-value");
					console.log("delete url : ");
					console.log(url);
					$.ajax({
						url: url,
						type: 'DELETE',
					});
					var tr = li.parentNode.parentNode.parentNode.parentNode;
					tr.parentNode.removeChild(tr);
				}else if(code == "pl"){
					var encoded = encodeURIComponent(uniquePlaylistID + "aaasssddd" + li.getAttribute("data-value"));
					$.ajax({
						url: '/ItunesLibrary/rest/playlist/del/track/' + encoded,
						type: 'DELETE',
					});
					var tr = li.parentNode.parentNode.parentNode.parentNode;
					tr.parentNode.removeChild(tr);
				}
			}

			function move(li){
				// show another popup with all playlists
				clickedMove = true;
				var tr = li.parentNode.parentNode.parentNode;
				var rowHeight = tr.clientWidth;
				var div = tr.childNodes[3];
				toggleDiv(div);
				
			}

			function moveTrack(button){
				var div = button.parentNode;
				var textValue = div.childNodes[3].value;
				var datalist = document.getElementById("datalist");
				var valuelist = [];
				
				var children = datalist.childNodes;
				for(var i=2; i<children.length; ++i){
					valuelist[i-2] = children[i].value;
				}
				
				var index = valuelist.indexOf(textValue.trim());
				if(index>-1){
					console.log("successfully choosen " + valuelist[index]);
				}else{
					console.log("could not successfully find " + textValue);
				}

				var tr = div.parentNode.parentNode;
				var trackID = tr.childNodes[1].innerHTML;
				console.log(trackID);
				var encoded = encodeURIComponent(getCookie("username") + "aaasssddd" + uniquePlaylistID + "aaasssddd" + valuelist[index] + "aaasssddd" + trackID);
				$.ajax({
					url: '/ItunesLibrary/rest/playlist/move/' + encoded,
					type: 'POST'
				});
				clickedMove = false;
				tr.parentNode.removeChild(tr);
			}

			function cancelMoveTrack(button){
				clickedMove = false;
				var div = button.parentNode;
				toggleDiv(div);
			}

			function scrollListener(){
				if(scrollListening){
					var div = document.getElementById("scrollDiv");
					var scrolltop = div.scrollTop;
					var scrollheight = div.scrollHeight;
					if(scrolltop >= scrollheight - (scrollheight/10)){
						scrollListening = false;
						document.getElementById("clickLink").click();
					}
				}
			}

			/* function chooseFile(){
				var fileChooser = document.getElementById("file").click();
			}
			function changeFile(){
				var fileChooser = document.getElementById("file");
				var textbox = document.getElementById("textbox");
				var filepath = fileChooser.value;
				var location = 0;
				for(i=filepath.length-1; i>=0; i--){
					var pathChar = filepath.charAt(i);
					if(pathChar == '/' || pathChar == '\\'){
						location = i+1;
						break;
					}
				}
				textbox.value = filepath.substring(location, filepath.length);
				if(textbox.value.length==0){
					textbox.value = "Please Choose File";
				}
			} */
		</script>
	</body>
</html>